<section class="First Step">
  <header class="header">
    <h1>Steps</h1>
    <input class="next step" placeholder="What needs to be done?" autofocus="">
  </header>
  <section class="main">
    <ul class="first-steps">
      <li>
        <div class="view">
          <input class="toggle" type="checkbox">
          <label>Find Dojo</label>
        </div>
      </li>
      <li>
        <div class="view">
          <input class="toggle" type="checkbox">
          <label>Research prices</label>
        </div>
      </li>
    </ul>
  </section>
</section>